
 table {
     border-collapse: collapse;
     width: 540pt;
 }

 th {
     border: 1px solid windowtext;
     width: 54pt;
     height: 16.2pt;
 }
 .check{
    width: 216pt;
    height: 16.2pt
 }
 .greyed-out {
     background-color: #ccc;
 }

 .sample-name-color {
     color: blue;
 }

 .index-name-color {
     color: red;
 }
 .green-arrow-button {
     background-color: green;
     border: none;
     color: white;
     padding: 10px 20px;
     font-size: 16px;
     cursor: pointer;
 }

 .arrow-left,
 .arrow-right {
     display: inline-block;
     width: 0;
     height: 0;
     border: 5px solid transparent;
 }

 .arrow-left {
     border-right-color: white;
     margin-right: 5px;
 }

 .arrow-right {
     border-left-color: white;
     margin-left: 5px;
 }
 .disabled {
     background-color: #f1f1f1;
 }

 .sample-name {
     color: blue;
 }

 .index-name {
     color: red;
 }